@font-face {
  font-family: Arial;
  src: local("arial"), url(fonts/arial.ttf);
}


body {
  font-family: Arial;
}

.size-nine {
  font-family: Arial;
  font-size: 9pt;
}

.rowattr {
  vertical-align: top;
  height: 40px;
}
